.root {
  text-align: center;

  span {
    font-size: 50px;
    font-weight: 700;
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
  }

  p {
    margin-top: 10px;
  }
}

.description {
  font-size: 18px;
}
